.questionContainer {
  margin: 1%;
}

.questionInfo {
  border-bottom: 1px solid #e6e6e6;
}

.questionInfoFlex {
  width: 30%;
  margin-top: 2%;
}

.descriptionContainer {
  margin-top: 2%;
}

.tagsContainer {
  width: 100%;
  padding-bottom: 1%;
  border-bottom: 1px solid #e6e6e6;
}

.tag {
  margin-right: 1%;
  cursor: pointer;
  padding-top: 1%;
  padding-bottom: 1%;
}

.button {
  margin-top: 2%;
}

.answerText {
  margin-top: 5%;
}
