.tagInfoContainer {
  padding: 2%;
}

.componentTitle {
  border-bottom: 1px solid #e6e6e6;
  margin: 2% auto;
}

.tag {
  margin: 2% auto;
  cursor: pointer;
}

.tagInfo {
  margin: 2% auto;
  margin-top: 10%;
}

.questionsTitle {
  padding: 1%;
  font-weight: bolder;
  border-bottom: 1px solid #e6e6e6;
}
