.userProfileContainer {
  width: 90%;
  margin: 2%;
}

.userInfoContainer {
  width: 70%;
}

.userInfo {
  padding-left: 5%;
}

.statsText {
  padding-top: 2%;
}

.statsContainer {
  margin-top: 2%;
  width: 30%;
  padding: 1%;
  border: 1px solid black;
  border-radius: 5px;
}
