.header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 2%;
}

.titleContainer:hover {
  opacity: 0.7;
  cursor: pointer;
}

.headerText {
  margin-left: 3%;
  align-self: center;
}

.rightContainer {
  width: 25%;
}

.userContainer {
  padding: 2%;
  border: 1px solid transparent;
  border-radius: 5px;
}

.userContainer:hover {
  border: 1px solid #e6e6e6;
  cursor: pointer;
}

.username {
  margin-left: 2%;
  align-self: center;
  font-weight: normal;
}

.signOutButton {
  font-weight: normal;
}

.signIn {
  width: 20%;
}

.signInButton {
  font-weight: normal;
}
