.gridItemLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.gridItemLeft p {
  margin: 1% auto;
}

.question {
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}

.question a {
  color: #00bcd4;
  text-decoration: underline;
}

.questionInfoRow {
  width: 100%;
}

.questionTitle {
  margin-top: 1%;
}

.questionDescription {
  margin-top: 1%;
}

.codeBlock {
  white-space: pre-wrap;
  margin-top: 1%;
  border-radius: 10px;
}

.questionCreated {
  margin-top: 1%;
  font-weight: normal;
  color: grey;
}

.questionTags {
  width: 100%;
  white-space: nowrap;
}

.tag {
  cursor: pointer;
  margin: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 0;
}

.questionAuthorName {
  font-weight: normal;
  color: grey;
  margin-left: 3%;
  margin-right: 2%;
}
