.componentTitle {
  padding-left: 2%;
  margin: 2% auto;
}

.tagsContainer {
  width: 100%;
}

.tagCard {
  margin: 2% auto;
  padding: 1%;
  padding-left: 0;
  border: 1px solid darkgray;
  border-radius: 5px;
  width: 25vw;
  height: 18vh;
}

.tagCard:hover {
  cursor: pointer;
  border-color: #3182ce;
}

.tagDescription {
  white-space: wrap;
  overflow: clip;
  text-overflow: ellipsis;
  margin-left: 2%;
  padding-bottom: 1%;
  padding-top: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.tag {
  margin-left: 2%;
  cursor: pointer;
  width: fit-content;
}

.tagStat {
  margin-left: 2%;
}
