.buttonSelected {
  width: 100%;
  border-right: 3px solid orange;
  border-radius: 0px;
  font-family: Source Code Pro, monospace;
  font-weight: bold;
  background-color: #e6e6e6;
}

.buttonSelected:hover {
  background: #e6e6e6;
}

.button {
  width: 100%;
  border-radius: 0;
  font-family: Source Code Pro, monospace;
  font-weight: normal;
}

.button:hover {
  background: #e6e6e6;
}
