.form {
  padding: 1%;
  width: 100%;
  margin: 0 auto;
}

.input {
  margin-bottom: 1%;
}

.button {
  padding: 2%;
  width: 10%;
  margin: 1%;
}

.buttonContainer {
  margin-top: 2%;
  width: 100%;
}
